<div class="order-form">
  <p-card>
    <h4>{{ title }}</h4>
    <form [formGroup]="orderForm">
      <div class="p-field" [ngClass]="{'invalid': orderForm.get('name').invalid && orderForm.get('name').touched}">
        <label for="name">Nume</label>
        <input id="name" pInputText formControlName="name" placeholder="Adauga numele {{ title }}" />
        <div *ngIf="orderForm.get('name').invalid && orderForm.get('name').touched" class="error">
          Numele este obligatoriu.
        </div>
      </div>

      <div class="p-field" [ngClass]="{'invalid': orderForm.get('phone1').invalid && orderForm.get('phone1').touched}">
        <label for="phone1">Numar de Telefon</label>
        <input id="phone1" pInputText formControlName="phone1" placeholder="numarul de telefon" />
        <div *ngIf="orderForm.get('phone1').invalid && orderForm.get('phone1').touched" class="error">
          Numarul de telefon trebuie sa fie valid.
        </div>
      </div>

      <div class="p-field" [ngClass]="{'invalid': orderForm.get('phone2').invalid && orderForm.get('phone2').touched}">
        <label for="phone2">Numar de Telefon 2</label>
        <input id="phone2" pInputText formControlName="phone2" placeholder="numarul de telefon 2" />
        <div *ngIf="orderForm.get('phone2').invalid && orderForm.get('phone2').touched" class="error">
          Numarul de telefon trebuie sa fie valid.
        </div>
      </div>

      <div class="p-grid dropdowns">
        <div class="p-col-6">
          <p-dropdown [options]="counties" autoWidth="false" formControlName="county" optionLabel="name" autoWidth="false" [style]="{'width':'100%'}" (onChange)="onCountyChange($event)" placeholder="Judet"></p-dropdown>
        </div>

        <div class="p-col-6">
          <p-dropdown [options]="cities" autoWidth="false" formControlName="city" optionLabel="name"  autoWidth="false" [style]="{'width':'100%'}" placeholder="Localitate"></p-dropdown>
        </div>
      </div>

      <div class="p-field" [ngClass]="{'invalid': orderForm.get('street').invalid && orderForm.get('street').touched}">
        <label for="street">Strada</label>
        <input id="street" pInputText formControlName="streetInput" (input)="onAddressInput($event)" placeholder="Strada" #streetInputField [ngClass]="{'valid': orderForm.get('street').valid && orderForm.get('street').touched}" />
        <ul *ngIf="addressSuggestions.length" class="suggestions-list">
          <li *ngFor="let suggestion of addressSuggestions" (click)="selectAddress(suggestion, streetInputField)">
            {{ suggestion.description }}
          </li>
        </ul>
        <input type="hidden" formControlName="street" />
        <div *ngIf="orderForm.get('street').invalid && orderForm.get('street').touched" class="error">
          Strada este obligatorie și trebuie să fie o opțiune validă.
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-6" [ngClass]="{'invalid': orderForm.get('number').invalid && orderForm.get('number').touched}">
          <label for="number">Numarul</label>
          <input id="number" #numberInput pInputText formControlName="number" (input)="onNumberInput($event)" placeholder="numarul" />
          <ul *ngIf="numberSuggestions.length" class="suggestions-list">
            <li *ngFor="let suggestion of numberSuggestions" (click)="selectNumber(suggestion)">
              {{ suggestion.description }}
            </li>
          </ul>
          <div *ngIf="orderForm.get('number').invalid && orderForm.get('number').touched" class="error">
            Numarul este obligatoriu.
          </div>
        </div>

        <div class="p-col-6"  [ngClass]="{'invalid': orderForm.get('postalCode').invalid && orderForm.get('postalCode').touched}">
          <label for="postalCode">Cod Postal</label>
          <input id="postalCode" #postalCodeInput pInputText formControlName="postalCode" placeholder="codul postal" />
          <div *ngIf="orderForm.get('postalCode').invalid && orderForm.get('postalCode').touched" class="error">
            Codul postal este invalid.
          </div>
        </div>
      </div>

      <div class="p-grid second-grid">
        <div class="p-col-3">
          <label for="block">Bloc</label>
          <input id="block" pInputText formControlName="block" placeholder="bloc" />
        </div>
        <div class="p-col-3">
          <label for="staircase">Scara</label>
          <input id="staircase" pInputText formControlName="staircase" placeholder="scara" />
        </div>
        <div class="p-col-3">
          <label for="floor">Etaj</label>
          <input id="floor" pInputText formControlName="floor" placeholder="etaj" />
        </div>
        <div class="p-col-3">
          <label for="apartment">Apartament</label>
          <input id="apartment" pInputText formControlName="apartment" placeholder="apartament" />
        </div>
      </div>
    </form>
  </p-card>
</div>
