<div class="order-form">
  <p-card>
    <h4>{{ title }}</h4>
    <form [formGroup]="orderForm">

      <div *ngIf="auth.user$ | async as user; else emailField">
        <div class="p-col-6">
          <select
            formControlName="favoriteAddress"
            (change)="onFavoriteChange($event)"
          >
            <option value="" disabled selected>Adresa favorită</option>
            <option
              *ngFor="let address of favoriteAddressSuggestionsShortNames"
              [ngValue]="address"
            >
              {{ address }}
            </option>
          </select>
        </div>
      </div>

      <!-- Email Field for Unauthenticated Users -->
      <ng-template #emailField>
        <div class="p-field" [ngClass]="{'invalid': orderForm.get('email').invalid && orderForm.get('email').touched}">
          <label for="email">Adresa de Email</label>
          <input
            id="email"
            pInputText
            formControlName="email"
            placeholder="Introdu adresa de email"
          />
          <div *ngIf="orderForm.get('email').invalid && orderForm.get('email').touched" class="error">
            Adresa de email este obligatorie și trebuie să fie validă.
          </div>
        </div>
      </ng-template>


      <div class="p-field" [ngClass]="{'invalid': orderForm.get('name').invalid && orderForm.get('name').touched}">
        <label for="name">Nume</label>
        <input id="name" pInputText formControlName="name" placeholder="Adauga numele" />
        <div *ngIf="orderForm.get('name').invalid && orderForm.get('name').touched" class="error">
          Numele este obligatoriu.
        </div>
      </div>

      <div class="p-field" [ngClass]="{'invalid': orderForm.get('phone1').invalid && orderForm.get('phone1').touched}">
        <label for="phone1">Numar de Telefon</label>
        <input id="phone1" pInputText formControlName="phone1" placeholder="numarul de telefon" />
        <div *ngIf="orderForm.get('phone1').invalid && orderForm.get('phone1').touched" class="error">
          Numarul de telefon trebuie sa fie valid.
        </div>
      </div>

      <div class="p-field" [ngClass]="{'invalid': orderForm.get('phone2').invalid && orderForm.get('phone2').touched}">
        <label for="phone2">Numar de Telefon 2</label>
        <input id="phone2" pInputText formControlName="phone2" placeholder="numarul de telefon 2" />
        <div *ngIf="orderForm.get('phone2').invalid && orderForm.get('phone2').touched" class="error">
          Numarul de telefon trebuie sa fie valid.
        </div>
      </div>

      <div class="p-grid dropdowns">
        <div class="p-col-6">
          <select formControlName="county" (change)="onCountyChange($event)">
            <option value="" disabled selected>Judet</option>
            <option *ngFor="let county of counties" [value]="county.stateCode">{{ county.stateName }}</option>
          </select>
        </div>

        <div  *ngIf="!isSavedAddress" class="p-col-6">
          <select formControlName="city">
            <option value="" disabled selected>Localitate</option>
            <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
          </select>
        </div>

        <div *ngIf="isSavedAddress" class="p-col-6">
          <input formControlName="city" type="text" placeholder="City">
        </div>

      </div>

      <div class="p-field" [ngClass]="{'invalid': orderForm.get('street').invalid && orderForm.get('street').touched}">
        <label for="street">Strada</label>
        <input id="street" pInputText formControlName="streetInput" (input)="onAddressInput($event)" placeholder="Strada" #streetInputField [ngClass]="{'valid': orderForm.get('street').valid && orderForm.get('street').touched}" />
        <ul *ngIf="addressSuggestions.length" class="suggestions-list">
          <li *ngFor="let suggestion of addressSuggestions" (click)="selectAddress(suggestion, streetInputField)">
            {{ suggestion }}
          </li>
        </ul>
        <input type="hidden" formControlName="street" />
        <div *ngIf="orderForm.get('street').invalid && orderForm.get('street').touched" class="error">
          Strada este obligatorie și trebuie să fie o opțiune validă.
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-6" [ngClass]="{'invalid': orderForm.get('number').invalid && orderForm.get('number').touched}">
          <label for="number">Numarul</label>
          <input type="number" id="number" #numberInput pInputText formControlName="number" (input)="onNumberInput($event)" placeholder="numarul" />
          <div *ngIf="orderForm.get('number').invalid && orderForm.get('number').touched" class="error">
            Numarul este obligatoriu.
          </div>
        </div>

        <div class="p-col-6"  [ngClass]="{'invalid': orderForm.get('postalCode').invalid && orderForm.get('postalCode').touched}">
          <label for="postalCode">Cod Postal</label>
          <input id="postalCode" #postalCodeInput pInputText formControlName="postalCode" placeholder="codul postal" />
          <div *ngIf="orderForm.get('postalCode').invalid && orderForm.get('postalCode').touched" class="error">
            Codul postal este invalid.
          </div>
        </div>
      </div>

      <div class="p-grid second-grid">
        <div class="p-col-3">
          <label for="block">Bloc</label>
          <input id="block" pInputText formControlName="block" placeholder="bloc" />
        </div>
        <div class="p-col-3">
          <label for="staircase">Scara</label>
          <input id="staircase" pInputText formControlName="staircase" placeholder="scara" />
        </div>
        <div class="p-col-3">
          <label for="floor">Etaj</label>
          <input id="floor" pInputText formControlName="floor" placeholder="etaj" />
        </div>
        <div class="p-col-3">
          <label for="apartment">Apartament</label>
          <input id="apartment" pInputText formControlName="apartment" placeholder="apartament" />
        </div>
      </div>
    </form>
  </p-card>
</div>
