<div class="order-list-container">
  <h2>Lista cu AWB</h2>

  <div class="order-list-actions">
    <button (click)="requestCourierPickup()">Cheamă curierii!</button>
    <button (click)="exportExcel()" [disabled]="isLoading">
      {{ isLoading ? 'Se exportă...' : 'Export excel' }}
    </button>
    <app-date-picker-dialog
      *ngIf="showDialog"
      (confirm)="onDialogConfirm($event)"
      (cancel)="onDialogCancel()"
    ></app-date-picker-dialog>
  </div>

  <div class="table-container" style="position: relative;">
    <div class="table-responsive">
    <table class="order-list-table">
      <thead>
      <tr>
        <th>
        </th>
        <th>Număr AWB</th>
        <th>Curier</th>
        <th>Nume Expeditor</th>
        <th>Adresă Expeditor</th>
        <th>Nume Destinatar</th>
        <th>Adresă Destinatar</th>
        <th>Data Creare</th>
        <th>Data Ridicare</th>
        <th>IBAN</th>
        <th>Număr Comandă</th>
        <th>Număr Colete</th>
        <th>Greutate</th>
        <th>Ramburs</th>
        <th>Status</th>
        <th>Acțiuni</th>
      </tr>
      <tr>
        <th><input type="checkbox"
                 [checked]="areAllOrdersSelected()"
                 (change)="toggleAllOrders($event)"
                 title="Selectează toate AWB-urile generate"/></th>
        <th><input type="text" [(ngModel)]="filter.awb"></th>
        <th><input type="text" [(ngModel)]="filter.courier"></th>
        <th><input type="text" [(ngModel)]="filter.senderName"></th>
        <th><input type="text" [(ngModel)]="filter.senderAddress"></th>
        <th><input type="text" [(ngModel)]="filter.recipientName"></th>
        <th><input type="text" [(ngModel)]="filter.recipientAddress"></th>
        <th>
          <p-calendar [(ngModel)]="filter.creationDateRange" selectionMode="range" dateFormat="dd-mm-yy"></p-calendar>
        </th>
        <th>
          <p-calendar [(ngModel)]="filter.pickupDateRange" selectionMode="range" dateFormat="dd-mm-yy"></p-calendar>
        </th>
        <th><input type="text" [(ngModel)]="filter.iban"></th>
        <th><input type="text" [(ngModel)]="filter.orderNumber"></th>
        <th><input type="text" [(ngModel)]="filter.packageCount"></th>
        <th><input type="text" [(ngModel)]="filter.weight"></th>
        <th><input type="text" [(ngModel)]="filter.cashOnDelivery"></th>
        <th><input type="text" [(ngModel)]="filter.status"></th>
        <th><button class="btn-action" (click)="filterChange()">Filtrează</button></th>
      </tr>
      </thead>
      <tbody>
      <!-- Spinner overlay for table content -->
      <div class="table-loading-overlay" *ngIf="isLoading">
        <div class="spinner">
          <img src="assets/logo.png" alt="Loading Logo" class="spinner-logo">
        </div>
        <p>Se încarcă...</p>
      </div>
      <ng-container *ngFor="let order of filteredOrders">
        <tr [ngClass]="{'roll-green': order.status === 'COMANDA_TRIMISA'}">
          <td>
            <input type="checkbox" [(ngModel)]="order.isSelected" />
          </td>
          <td>{{ order.awb }}</td>
          <td><img [src]="getCourierLogo(order?.courier)" alt="{{ order.courier }} logo"></td>
          <td>{{ order?.senderName }}</td>
          <td>{{ order?.senderAddress }}</td>
          <td>{{ order?.recipientName }}</td>
          <td>{{ order?.recipientAddress }}</td>
          <td>{{ order?.creationDate }}</td>
          <td>{{ order?.pickupDate }}</td>
          <td>{{ order?.iban }}</td>
          <td>{{ order?.orderNumber }}</td>
          <td>{{ order?.packageCount }}</td>
          <td>{{ order?.weight }}</td>
          <td>{{ order?.cashOnDelivery }} RON</td>
          <td [ngClass]="getStatusClass(order.status)">{{ order.status }}</td>
          <td class="actions">
            <div class="action-buttons">
              <button class="btn btn-action" (click)="downloadOrder(order)">
                <i class="fas fa-download"></i>
              </button>
              <button class="btn btn-action" (click)="viewOrder(order)">
                <i class="fas fa-eye"></i>
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <button class="btn btn-pagination" (click)="prevPage()">« Previous</button>
    <ng-container *ngFor="let page of getVisiblePages()">
      <button class="btn btn-pagination" [ngClass]="{'active': page === currentPage}" (click)="goToPage(page)">
        {{ page }}
      </button>
    </ng-container>
    <button class="btn btn-pagination" (click)="nextPage()">Next »</button>
  </div>
  </div>
</div>
