<div class="package-form">
  <h5>Colet: {{ index + 1 }}</h5>
  <form [formGroup]="packageForm">
    <div class="compact-form">
      <div class="small-field p-field" [ngClass]="{'invalid': packageForm.get('length').invalid && packageForm.get('length').touched}">
        <label for="length">Lungime</label>
        <input
          id="length"
          pInputText
          type="number"
          min="0"
          formControlName="length"
          placeholder="L"
          (focus)="clearZero('length')"
        />
      </div>
      <div class="small-field p-field" [ngClass]="{'invalid': packageForm.get('width').invalid && packageForm.get('width').touched}">
        <label for="width">Latime</label>
        <input
          id="width"
          pInputText
          type="number"
          min="1"
          formControlName="width"
          placeholder="l"
          (focus)="clearZero('width')"
        />
      </div>
      <div class="small-field p-field" [ngClass]="{'invalid': packageForm.get('height').invalid && packageForm.get('height').touched}">
        <label for="height">Inaltime</label>
        <input
          id="height"
          pInputText
          type="number"
          min="0"
          formControlName="height"
          placeholder="H"
          (focus)="clearZero('height')"
        />
      </div>
      <div class="small-field p-field" [ngClass]="{'invalid': packageForm.get('weight').invalid && packageForm.get('weight').touched}">
        <label for="weight">Kg</label>
        <input
          id="weight"
          pInputText
          type="number"
          min="0"
          formControlName="weight"
          placeholder="W"
          (focus)="clearZero('weight')"
        />
      </div>

    </div>

    <div class="p-field p-grid">
      <div *ngIf="dimensionError" class="error p-col-12">
        Coletul nu trebuie sa aiba L + l + h > 180cm!
      </div>
      <div *ngIf="weightError" class="error p-col-12">
        Coletul nu trebuie sa aiba mai mult de 31kg!
      </div>
      <div *ngIf="dimensionErrorEach" class="error p-col-12">
        Dimensiunile individuale nu trebuie sa depaseasca 150cm!
      </div>
      <div *ngIf="dimensionalWeightError" class="error p-col-12">
        Greutatea volumetrica nu trebuie sa aiba mai mult de 31kg!
      </div>
    </div>
  </form>
</div>

