.package-form {
  border: 1px solid var(--ok-primary-color);
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--ok-dark-color);
  color: whitesmoke;
}

.compact-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.small-field {
  flex: 1;
  min-width: 70px;
}

.small-field input {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}

.p-field label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.error {
  color: var(--ok-primary-color);
  font-size: 0.9rem;
}

.package-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.remove-icon {
  color: var(--ok-primary-color);
  cursor: pointer;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-icon:hover {
  color: darkred;
}
