<div class="package-form">
  <div class="package-header">
    <h5>Colet: {{ index + 1 }}</h5>
    <div class="remove-icon" (click)="removePackage()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="3 6 5 6 21 6"></polyline>
        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
        <line x1="10" y1="11" x2="10" y2="17"></line>
        <line x1="14" y1="11" x2="14" y2="17"></line>
      </svg>
    </div>
  </div>
  <form [formGroup]="packageForm">
    <div class="compact-form">
      <div class="small-field p-field" [ngClass]="{'invalid': packageForm.get('length').invalid && packageForm.get('length').touched}">
        <label for="length">Lungime</label>
        <input
          id="length"
          pInputText
          type="number"
          min="0"
          formControlName="length"
          placeholder="L"
          (focus)="clearZero('length')"
        />
      </div>
      <div class="small-field p-field" [ngClass]="{'invalid': packageForm.get('width').invalid && packageForm.get('width').touched}">
        <label for="width">Latime</label>
        <input
          id="width"
          pInputText
          type="number"
          min="1"
          formControlName="width"
          placeholder="l"
          (focus)="clearZero('width')"
        />
      </div>
      <div class="small-field p-field" [ngClass]="{'invalid': packageForm.get('height').invalid && packageForm.get('height').touched}">
        <label for="height">Inaltime</label>
        <input
          id="height"
          pInputText
          type="number"
          min="0"
          formControlName="height"
          placeholder="H"
          (focus)="clearZero('height')"
        />
      </div>
      <div class="small-field p-field" [ngClass]="{'invalid': packageForm.get('weight').invalid && packageForm.get('weight').touched}">
        <label for="weight">Kg</label>
        <input
          id="weight"
          pInputText
          type="number"
          min="0"
          formControlName="weight"
          placeholder="W"
          (focus)="clearZero('weight')"
        />
      </div>

    </div>

    <div class="p-field p-grid">
      <div *ngIf="dimensionError" class="error p-col-12">
        Coletul nu trebuie sa aiba L + l + h > 180cm!
      </div>
      <div *ngIf="weightError" class="error p-col-12">
        Coletul nu trebuie sa aiba mai mult de 31kg!
      </div>
      <div *ngIf="dimensionErrorEach" class="error p-col-12">
        Dimensiunile individuale nu trebuie sa depaseasca 150cm!
      </div>
      <div *ngIf="dimensionalWeightError" class="error p-col-12">
        Greutatea volumetrica nu trebuie sa aiba mai mult de 31kg!
      </div>
    </div>
  </form>
</div>

