<div class="container mt-5" *ngIf="auth.user$ | async as user">
  <div class="card profile-card">
    <div class="card-body">
      <div class="row align-items-center profile-header">
        <div class="col-md-9"><h2>{{ user.name }}</h2>
          <p class="lead text-muted">{{ user.email }}</p>
          <p *ngIf="user.nickname"><strong>username:</strong> {{ user.nickname }}</p>
          <p *ngIf="user.updated_at"><strong>Ultima actualizare:</strong> {{ user.updated_at | date }}</p></div>
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <button class="btn btn-primary mt-3" (click)="toggleEditMode()"> {{ editMode ? 'Anulează' : 'Editează Profil' }}
    </button>
    <div class="card-body"><h4>Detalii Profil</h4>
      <form *ngIf="editMode" (ngSubmit)="saveProfile()"> <!-- Client Type Selection -->
        <div class="form-group mb-3"><label> <input type="radio" name="clientType" [(ngModel)]="clientType"
                                                    value="fizica" (change)="onClientTypeChange()"> Persoana Fizica
        </label> &nbsp;&nbsp; <label> <input type="radio" name="clientType" [(ngModel)]="clientType" value="juridica"
                                             (change)="onClientTypeChange()"> Persoana Juridica </label>
        </div>
        <!-- Persoana Juridica Fields -->
        <div *ngIf="clientType==='juridica'">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="businessName">Nume Firmă</label>
                <input id="businessName" [(ngModel)]="client.billing_info.company_name" name="businessName"
                       class="form-control"
                       (focus)="onFieldFocus('company_name')"
                       (blur)="onFieldBlur('company_name')"/>
              </div>
              <div class="form-group mb-3">
                <label for="cui">CUI</label>
                <input id="cui" [(ngModel)]="client.billing_info.cui" name="cui" class="form-control"
                       (focus)="onFieldFocus('cui')"
                       (blur)="onFieldBlur('cui')"/>
              </div>
              <div class="form-group mb-3">
                <label for="registrationNumber">Numar de inregistrare (J)</label>
                <input id="registrationNumber" [(ngModel)]="client.billing_info.registration_number"
                       name="registrationNumber" class="form-control"
                       (focus)="onFieldFocus('registration_number')"
                       (blur)="onFieldBlur('registration_number')"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="iban">IBAN</label>
                <input id="iban" [(ngModel)]="client.billing_info.iban" name="iban" class="form-control"
                       (focus)="onFieldFocus('iban')"
                       (blur)="onFieldBlur('iban')"/>
              </div>
              <div class="form-group mb-3">
                <label for="phoneNumber">Număr de Telefon</label>
                <input id="phoneNumber" [(ngModel)]="client.billing_info.phone_number" name="phoneNumber"
                       class="form-control"
                       (focus)="onFieldFocus('phone_number')"
                       (blur)="onFieldBlur('phone_number')"/>
              </div>
              <div class="form-group mb-3">
                <label for="ibanHolder">Nume detinator IBAN</label>
                <input id="ibanHolder" [(ngModel)]="client.billing_info.iban_name" name="ibanHolder" class="form-control"
                       (focus)="onFieldFocus('iban_name')"
                       (blur)="onFieldBlur('iban_name')"/>
              </div>
            </div>
          </div>
        </div>

        <!-- Persoana Fizica Fields -->
        <div *ngIf="clientType==='fizica'">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="firstName">Prenume</label>
                <input id="firstName" [(ngModel)]="client.billing_info.first_name" name="firstName"
                       class="form-control"
                       (focus)="onFieldFocus('first_name')"
                       (blur)="onFieldBlur('first_name')"/>
              </div>
              <div class="form-group mb-3">
                <label for="lastName">Nume</label>
                <input id="lastName" [(ngModel)]="client.billing_info.last_name" name="lastName" class="form-control"
                       (focus)="onFieldFocus('last_name')"
                       (blur)="onFieldBlur('last_name')"/>
              </div>
              <div class="form-group mb-3">
                <label for="cnp">CNP</label>
                <input id="cnp" [(ngModel)]="client.billing_info.cnp" name="cnp" class="form-control"
                       (focus)="onFieldFocus('cnp')"
                       (blur)="onFieldBlur('cnp')"/>
              </div>
              <div class="form-group mb-3">
                <label for="judet">Judet</label>
                <input id="judet" [(ngModel)]="client.billing_info.judet" name="judet" class="form-control"
                       (focus)="onFieldFocus('judet')"
                       (blur)="onFieldBlur('judet')"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="oras">Oras</label>
                <input id="oras" [(ngModel)]="client.billing_info.oras" name="oras" class="form-control"
                       (focus)="onFieldFocus('oras')"
                       (blur)="onFieldBlur('oras')"/>
              </div>
              <div class="form-group mb-3">
                <label for="adresa">Adresa</label>
                <input id="adresa" [(ngModel)]="client.billing_info.adresa" name="adresa" class="form-control"
                       (focus)="onFieldFocus('adresa')"
                       (blur)="onFieldBlur('adresa')"/>
              </div>
              <div class="form-group mb-3">
                <label for="ibanFizica">IBAN</label>
                <input id="ibanFizica" [(ngModel)]="client.billing_info.iban" name="ibanFizica" class="form-control"
                       (focus)="onFieldFocus('iban')"
                       (blur)="onFieldBlur('iban')"/>
              </div>
              <div class="form-group mb-3">
                <label for="phoneNumberFizica">Număr de Telefon</label>
                <input id="phoneNumberFizica" [(ngModel)]="client.billing_info.phone_number" name="phoneNumberFizica"
                       class="form-control"
                       (focus)="onFieldFocus('phone_number')"
                       (blur)="onFieldBlur('phone_number')"/>
              </div>
              <div class="form-group mb-3">
                <label for="ibanHolderFizica">Nume detinator IBAN</label>
                <input id="ibanHolderFizica" [(ngModel)]="client.billing_info.iban_name" name="ibanHolderFizica"
                       class="form-control"
                       (focus)="onFieldFocus('iban_name')"
                       (blur)="onFieldBlur('iban_name')"/>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center mt-3">
          <button type="submit" class="btn btn-success">Salvează</button>
        </div>

        <!-- Error messages -->
        <div *ngIf="errorMessages && errorMessages.length > 0" class="alert alert-danger mt-3">
          <ul>
            <li *ngFor="let errorMessage of errorMessages">{{ errorMessage }}</li>
          </ul>
        </div>

      </form>

      <!-- Non-editable Profile Display -->
      <div *ngIf="!editMode">
        <div *ngIf="client?.billing_info?.client_type === 'juridica'">
          <div class="row">
            <div class="col-md-6">
              <p><strong>Nume Firmă:</strong> {{ client.billing_info?.company_name }}</p>
              <p><strong>CUI:</strong> {{ client.billing_info?.cui }}</p>
              <p><strong>Numar de inregistrare (J):</strong> {{ client.billing_info?.registration_number }}</p>
              <p><strong>Număr Contract:</strong> {{ client.billing_info?.contract_number || 'N/A' }}</p>
            </div>
            <div class="col-md-6">
              <p><strong>IBAN:</strong> {{ client.billing_info?.iban }}</p>
              <p><strong>Număr de Telefon:</strong> {{ client.billing_info?.phone_number }}</p>
              <p><strong>Nume detinator IBAN:</strong> {{ client.billing_info?.iban_name }}</p>
            </div>
          </div>
        </div>
        <div *ngIf="client?.billing_info?.client_type === 'fizica'">
          <div class="row">
            <div class="col-md-6">
              <p><strong>Prenume:</strong> {{ client.billing_info?.first_name }}</p>
              <p><strong>Nume:</strong> {{ client.billing_info?.last_name }}</p>
              <p><strong>CNP:</strong> {{ client.billing_info?.cnp }}</p>
              <p><strong>Judet:</strong> {{ client.billing_info?.judet }}</p>
              <p><strong>Număr Contract:</strong> {{ client.billing_info?.contract_number || 'N/A' }}</p>
            </div>
            <div class="col-md-6">
              <p><strong>Oras:</strong> {{ client.billing_info?.oras }}</p>
              <p><strong>Adresa:</strong> {{ client.billing_info?.adresa }}</p>
              <p><strong>IBAN:</strong> {{ client.billing_info?.iban }}</p>
              <p><strong>Număr de Telefon:</strong> {{ client.billing_info?.phone_number }}</p>
              <p><strong>Nume detinator IBAN:</strong> {{ client.billing_info?.iban_name }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center mt-3">
        <button class="btn btn-danger" (click)="logout()">Deconectează-te</button>
      </div>
    </div>

  </div>
</div>


