/* Global Styles */
.courier-options {
  font-family: 'Roboto', sans-serif;
  color: whitesmoke; /* White text color */
  padding: 1rem;
  background-color: rgb(63 63 70); /* Darker secondary background */
  border-radius: 10px;
  max-width: 1500px; /* Increased width */
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.courier-option {
  background-color: rgb(161 161 170) ; /* Background color */
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.courier-option.selected {
  border-color: #20be44;
  box-shadow: 0 0 10px #80d092;
}

.courier-option:hover {
  background-color: var(--ok-grey-colo-lightr);
}

.courier-details {
  display: flex;
  align-items: center;
}

.courier-details img {
  width: 60px; /* Adjusted logo size */
  height: auto;
  margin-right: 1rem;
}

.price {
  color: rgb(21 128 61);
  font-size: 1.0rem; /* Increased font size */
  font-weight: bold;
  display: flex;
  align-items: center;
}

.price i {
  margin-left: 0.5rem;
  color: var(--ok-primary-color); /* Red icon */
}

.courier-info {
  display: flex;
  flex-direction: row; /* Make information inline */
  align-items: center;
  color: whitesmoke; /* White text color */
}

.courier-info span {
  display: flex;
  align-items: center;
  margin-left: 3rem; /* Space between info items */
  margin-right: 3rem; /* Space between info items */
  color: #131010; /* White text color */
}

.courier-info i {
  color: var(--ok-primary-color); /* Red icons */
   margin-left: 0.5rem;
  margin-bottom: 0.3rem
}

.icon-group {
  display: flex;
  align-items: center;
  margin-left: 2rem; /* Group icons closer */
}

.icon-group .icon {
  margin: 0.5rem; /* Reduce space between icons */
}


.icon-group .icon:hover::after {
  content: attr(title);
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  color: whitesmoke;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  top: -1.5rem;
  white-space: nowrap;
  font-size: 0.75rem;
  z-index: 1;
}

/* Locker Option */
.locker-option {
  background-color: rgb(161 161 170);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.locker-option .p-field-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.locker-option .p-field-checkbox input {
  margin-right: 0.5rem;
  width: 18px;
  height: 18px;
}

.locker-option .p-field-checkbox label {
  font-weight: bold;
  color: whitesmoke;
}


.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.actions .btn {
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.actions .btn-primary {
  background-color: #d50c0c;
  color: whitesmoke;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.actions .btn-primary:hover {
  background-color: #f64f4f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.actions .btn-secondary {
  background-color: var(--ok-grey-color);
  color: whitesmoke;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.actions .btn-secondary:hover {
  background-color: #4A5568;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
