<div class="container">
  <h1>Trimite Colet</h1>
  <div class="form-wrapper">
    <app-order-form title="Expeditor"></app-order-form>
    <app-order-form title="Destinatar"></app-order-form>
    <div class="package-section">
      <div *ngFor="let package of packages; let i = index" class="package-form">
        <app-package-form [index]="i" [packageForm]="package"></app-package-form>
      </div>
      <button pButton type="button" label="Add Package" (click)="addPackage()" class="p-mt-2"></button>
    </div>
    <button pButton type="button" label="Alege oferta" (click)="onSubmit()" class="p-mt-2"></button>
  </div>
</div>
