.container {
  max-width: 100%;
  margin: 0 auto;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

.form-column {
  flex: 1;
  min-width: 300px;
  margin: 0 10px;
}

.package-section {
  flex: 1;
  min-width: 300px;
  margin: 0 10px;
  /* The height will be set dynamically */
}

.scrollable-content {
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: var(--spacing);
  box-sizing: border-box;
}

.toggle-plic {
  margin-bottom: 1rem;
}

.plic-info {
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #e7f3fe;
  border-left: 4px solid #2196F3;
  border-radius: 4px;
  font-size: 0.875rem;
}

.extra-services {
  margin-bottom: 1rem;
}

.extra-service-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.extra-service-item i {
  font-size: 1.5rem;
  margin-right: 10px;
  cursor: pointer;
  color: #007bff;
}

.extra-service-item label {
  cursor: pointer;
}

.extra-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: var(--spacing);
}

.styled-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.styled-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.fas, .far {
  font-size: 1.2rem;
  color: #007bff;
}

.fas:hover, .far:hover {
  color: #0056b3;
}

.add-icon {
  color: green;
  cursor: pointer;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.add-icon:hover {
  color: darkgreen;
}

button.p-mt-2 {
  margin-top: 1rem;
}

.submit-button {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.submit-button:not(:disabled):hover {
  background-color: #0056b3;
}

.submit-button:not(:disabled):active {
  transform: translateY(2px);
}

.submit-button:not(:disabled):focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.25);
}

.arrow-button {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.arrow-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.arrow-button:not(:disabled):hover {
  background-color: #0056b3;
}

.arrow-button .button-text {
  position: relative;
  z-index: 2;
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrow-button .button-logo {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  transition: left 1s ease;
  border-radius: 50%;
}

.arrow-button:not(:disabled):hover .button-text {
  transform: translateX(2rem);
}

.arrow-button:not(:disabled):hover .button-logo {
  left: calc(100% - 50px);
}

.toggle-plic {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #28a745;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.label-text {
  margin-left: 10px;
  font-size: 1rem;
  vertical-align: middle;
  line-height: 34px;
}

.plic-info {
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #e7f3fe;
  border-left: 4px solid #2196F3;
  border-radius: 4px;
  font-size: 0.875rem;
}

