<div class="container">
  <h3>Trimite Colet</h3>
  <div class="form-wrapper">
    <div class="form-row">
      <div class="form-column" id="expeditorFormColumn">
        <app-order-form #expeditorForm title="Expeditor" (formValidityChange)="onExpeditorFormValidityChange($event)"></app-order-form>
      </div>
      <div class="form-column" id="destinatarFormColumn">
        <app-order-form #destinatarForm title="Destinatar" (formValidityChange)="onDestinatarFormValidityChange($event)"></app-order-form>
      </div>
      <div class="form-column package-section" id="packageSection">
        <div class="scrollable-content">
          <div class="toggle-buttons">
            <button
              type="button"
              class="toggle-btn"
              [ngClass]="{'active': isPlicSelected}"
              (click)="selectPlic(true)">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"></path>
              </svg>
            </button>
            <button
              type="button"
              class="toggle-btn"
              [ngClass]="{'active': !isPlicSelected}"
              (click)="selectPlic(false)"
              [disabled]="courierPackages.length >= 10">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9"></path>
              </svg>
            </button>
          </div>



          <div *ngIf="isPlicSelected" class="plic-info">
            <p>Trimiți un singur plic de 250g cu documente.</p>
          </div>
          <div *ngIf="!isPlicSelected">
            <div *ngFor="let courierPackage of courierPackages; let i = index" class="package-form">
              <app-package-form [index]="i" [packageForm]="courierPackage.form"
                                (remove)="removePackage(i)">
              </app-package-form>
            </div>
          </div>
          <div class="extra-services">
            <h5>Servicii Extra</h5>
            <div *ngFor="let service of filteredExtraServices" class="extra-service-item">
              <input type="checkbox" id="{{service.value}}" [checked]="selectedServices[service.value]" (change)="toggleService(service.value)">
              <label for="{{service.value}}">{{service.label}}</label>
              <div *ngIf="service.value === 'asigurare' && selectedServices[service.value]" class="extra-input">
                <input type="number" min="0" [(ngModel)]="asigurare" placeholder="Valoare asigurată" class="styled-input"/>
              </div>
              <div *ngIf="service.value === 'rambursCont' && selectedServices[service.value]" class="extra-input">
                <input type="number" min="0" [(ngModel)]="rambursCont" placeholder="Valoare ramburs în cont" class="styled-input"/>
              </div>
            </div>
          </div>

        </div>
        <app-package-overview id="packageOverview" [packages]="courierPackages"></app-package-overview>
      </div>
    </div>
    <button pButton type="button" (click)="onSubmit()" [disabled]="!isFormValid()" class="arrow-button">
      <img src="assets/logo.png" alt="OK Curier Logo" class="button-logo">
      <span class="button-text">Cere oferta</span>
    </button>
  </div>
</div>
