<div class="order-list-container">
  <h2>Lista Useri</h2>

  <!-- Invitation Section -->
  <div class="invite-client-container">
    <h3>Invită un nou client</h3>
    <form (ngSubmit)="inviteClient()" #inviteForm="ngForm" class="invite-form">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="newClientEmail" required class="form-control" placeholder="Introduceți email-ul">
      </div>
      <div class="form-group">
        <label for="contractNumber">Număr contract:</label>
        <input type="text" id="contractNumber" name="contractNumber" [(ngModel)]="newClientContractNumber" required class="form-control" placeholder="Introduceți numărul de contract">
      </div>
      <button type="submit" [disabled]="inviteForm.invalid" class="btn btn-primary">Invită Client</button>
    </form>
  </div>

  <div class="order-list-actions">
    <!-- Add search or filter actions here if needed -->
  </div>
  <div class="table-responsive">
    <table class="order-list-table">
      <thead>
      <tr>
        <th>Nume</th>
        <th>Email</th>
        <th>Ultima Logare</th>
        <th>Acțiuni</th>
        <th>Oprește din ramburs</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let client of clients">
        <tr>
          <td>{{ client.name }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.last_login | date: 'short' }}</td>
          <td>
            <div class="action-buttons">
              <button
                class="btn-action"
                *ngIf="!client.blocked"
                title="Suspendă Acces"
                (click)="suspendAccess(client)"
              >
                <i class="fas fa-ban"></i>
              </button>
              <button
                class="btn-action"
                *ngIf="client.blocked"
                title="Reabilitează Acces"
                (click)="suspendAccess(client)"
              >
                <i class="fas fa-unlock"></i>
              </button>
              <button class="btn-action" title="Șterge Client" (click)="deleteClient(client)">
                <i class="fas fa-trash"></i>
              </button>
              <button class="btn-action" title="Modifica discounturi" (click)="redirectToClientView(client)">
                <i class="fas fa-edit"></i>
              </button>
            </div>
          </td>
          <td>
            <mat-checkbox
              [checked]="client.billing_info.keep_shipping_cost"
              (change)="toggleKeepShippingCost(client)"
              [disabled]="isProcessing">
            </mat-checkbox>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
