<div class="request-form">
  <h2>Solicită Oferta</h2>

  <!-- Success Message Div, fixed in the middle of the screen -->
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="cui">CUI / Denumire societate</label>
      <input id="cui" formControlName="cui" placeholder="Cui-ul sau CIF-ul companiei tale" />
      <div *ngIf="requestForm.get('cui').touched && requestForm.get('cui').invalid" class="error">
        {{ getErrorMessage('cui') }}
      </div>
    </div>

    <div class="form-group">
      <label for="contactPerson">Persoana de contact</label>
      <input id="contactPerson" formControlName="contactPerson" placeholder="Numele reprezentantului companiei" />
      <div *ngIf="requestForm.get('contactPerson').touched && requestForm.get('contactPerson').invalid" class="error">
        {{ getErrorMessage('contactPerson') }}
      </div>
    </div>

    <div class="form-group">
      <label for="contactPhone">Telefon Contact</label>
      <input id="contactPhone" formControlName="contactPhone" placeholder="Numărul de telefon" />
      <div *ngIf="requestForm.get('contactPhone').touched && requestForm.get('contactPhone').invalid" class="error">
        {{ getErrorMessage('contactPhone') }}
      </div>
    </div>

    <div class="form-group">
      <label for="email">Adresa de e-mail</label>
      <input id="email" formControlName="email" placeholder="Adresa de email" />
      <div *ngIf="requestForm.get('email').touched && requestForm.get('email').invalid" class="error">
        {{ getErrorMessage('email') }}
      </div>
    </div>

    <div class="form-group">
      <label for="packagesPerMonth">Număr colete pe lună</label>
      <input id="packagesPerMonth" formControlName="packagesPerMonth" placeholder="Numărul estimat de colete trimise lunar" />
      <div *ngIf="requestForm.get('packagesPerMonth').touched && requestForm.get('packagesPerMonth').invalid" class="error">
        {{ getErrorMessage('packagesPerMonth') }}
      </div>
    </div>

    <div class="form-group">
      <label for="message">Mesaj</label>
      <textarea id="message" formControlName="message" placeholder="Detalii adiționale despre cererea dumneavoastră"></textarea>
      <div *ngIf="requestForm.get('message').touched && requestForm.get('message').invalid" class="error">
        {{ getErrorMessage('message') }}
      </div>
    </div>

    <button type="submit" [disabled]="!requestForm.valid || isLoading">
      <span *ngIf="!isLoading">Solicită Oferta</span>
      <span *ngIf="isLoading">Se încarcă...</span>
    </button>
  </form>
</div>
