<div class="landing-page">
  <app-hero></app-hero>
  <!--     DONE     -->
  <section class="about-us-section full-screen-section">
    <div class="allign-row">
      <div class="about-us-content grid-item">
        <h2>DESPRE NOI</h2>
        <h3>Consolidarea afacerii dumneavoastră cu soluții logistice personalizate</h3>
        <p>
          La OKCurier, credem în furnizarea de soluții logistice personalizate și eficiente care să
          satisfacă nevoile unice ale clienților noștri. Cu ani de experiență și o echipă de experți,
          suntem dedicați consolidării afacerii dumneavoastră prin experiențe de transport fără cusur.
        </p>
      </div>
      <div class="about-us-logo grid-item">
        <img src="assets/logo.png" alt="OKCurier Logo"/>
      </div>
    </div>
    <div class="about-us-features">
      <div class="feature-item">
        <h4>01</h4>
        <p>EXPERTIZĂ ȘI EXPERIENȚĂ</p>
      </div>
      <div class="feature-item">
        <h4>02</h4>
        <p>ANGAJAȚI SĂ OFERIM CALITATE</p>
      </div>
      <div class="feature-item">
        <h4>03</h4>
        <p>SERVICII COMPLETE</p>
      </div>
    </div>
  </section>

<!--    DONE    -->
  <section class="how-it-works-section">
    <div class="how-it-works-grid">
      <div class="grid-item">
        <img src="assets/feature1.png" alt="Step 1" class="step-image"/>
      </div>
      <div class="grid-item">
        <div>
          <div class="how-it-works-header">
            <h2>Cum funcționează?</h2>
            <h3>Usurează-ți experiența de expediere cu procesul nostru în pași simpli</h3>
            <p>
              Descoperă un proces de expediere mai simplu și mai eficient cu serviciile noastre de curierat.
              Lasă-ne pe noi să ne ocupăm de tot, de la început până la sfârșit, pentru a garanta sosirea în
              siguranță a mărfii tale.
            </p>
          </div>
        </div>
      </div>
      <div class="dashed-line"></div>
      <div class="grid-item">
        <div class="step-details">
          <button class="step-details-background"><h4>Pasul 1</h4></button>
          <div class="step-icon">
            <img src="assets/feature-step.png" alt="Step Icon 2"/>
          </div>
          <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
        </div>
      </div>
      <div class="grid-item">
        <img src="assets/feature2.png" alt="Step 2" class="step-image"/>
      </div>
      <div class="grid-item">
        <img src="assets/feature3.png" alt="Step 3" class="step-image"/>
      </div>
      <div class="grid-item">
        <div class="step-details">
          <button class="step-details-background"><h4>Pasul 2</h4></button>
          <div class="step-icon">
            <img src="assets/feature-step.png" alt="Step Icon 3"/>
          </div>
          <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
        </div>
      </div>

      <div class="grid-item">
        <div class="step-details">
          <button class="step-details-background"><h4>Pasul 3</h4></button>
          <div class="step-icon">
            <img src="assets/feature-step.png" alt="Step Icon 2"/>
          </div>
          <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
        </div>
      </div>
      <div class="grid-item">
        <img src="assets/feature4.png" alt="Step 2" class="step-image"/>
      </div>
    </div>
  </section>
  <!--    DONE    -->
  <section id="services" class="full-screen-section">
    <div class="services-header">
      <h5>SERVICIILE NOASTRE</h5>
      <h2>TRANSPORT EFICIENT ȘI DE ÎNCREDERE</h2>
    </div>
    <div class="services-grid">
      <div class="service-item">
        <div class="service-icon">
          <img src="assets/service-icon.png" alt="Icon">
        </div>
        <h3>TRANSPORT MARITIM</h3>
        <p>La OKCurier credem în oferirea de soluții logistice personalizate și eficiente clienților noștri, care să le satisfacă nevoile unice.</p>
      </div>
      <div class="service-item">
        <div class="service-icon">
          <img src="assets/service-icon.png" alt="Icon">
        </div>
        <h3>TRANSPORT AERIAN</h3>
        <p>La OKCurier credem în oferirea de soluții logistice personalizate și eficiente clienților noștri, care să le satisfacă nevoile unice.</p>
      </div>
      <div class="service-item">
        <div class="service-icon">
          <img src="assets/service-icon.png" alt="Icon">
        </div>
        <h3>TRANSPORT RUTIER</h3>
        <p>La OKCurier credem în oferirea de soluții logistice personalizate și eficiente clienților noștri, care să le satisfacă nevoile unice.</p>
      </div>
      <div class="service-item">
        <div class="service-icon">
          <img src="assets/service-icon.png" alt="Icon">
        </div>
        <h3>INTERNATIONAL</h3>
        <p>La OKCurier credem în oferirea de soluții logistice personalizate și eficiente clienților noștri, care să le satisfacă nevoile unice.</p>
      </div>
      <div class="service-item">
        <div class="service-icon">
          <img src="assets/service-icon.png" alt="Icon">
        </div>
        <h3>EXPEDIERE DE MARFURI</h3>
        <p>La OKCurier credem în oferirea de soluții logistice personalizate și eficiente clienților noștri, care să le satisfacă nevoile unice.</p>
      </div>
      <div class="service-item">
        <div class="service-icon">
          <img src="assets/service-icon.png" alt="Icon">
        </div>
        <h3>ASIGURARE</h3>
        <p>La OKCurier credem în oferirea de soluții logistice personalizate și eficiente clienților noștri, care să le satisfacă nevoile unice.</p>
      </div>
    </div>
  </section>

  <section class="testimonials-section">
    <div class="testimonials-header">
      <h2>CE SPUN CLIENȚII NOȘTRI</h2>
    </div>
    <div class="testimonials-grid">
      <div class="testimonial-item">
        <div class="testimonial-rating">★★★★★</div>
        <p>La OKCurier credem în oferirea de soluții logistice personalizate și eficiente clienților noștri, care să le satisfacă nevoile unice.</p>
        <h4>JOHN SMITH, FREELANCE CONSULTANT</h4>
      </div>
      <div class="testimonial-item">
        <div class="testimonial-rating">★★★★★</div>
        <p>La OKCurier credem în oferirea de soluții logistice personalizate și eficiente clienților noștri, care să le satisfacă nevoile unice.</p>
        <h4>MICHAEL JOHNSON, CEO</h4>
      </div>
      <div class="testimonial-item">
        <div class="testimonial-rating">★★★★★</div>
        <p>La OKCurier credem în oferirea de soluții logistice personalizate și eficiente clienților noștri, care să le satisfacă nevoile unice.</p>
        <h4>SARAH LEE, ONLINE RETAILER</h4>
      </div>
    </div>
    <div class="clients-logos">
      <img src="assets/dpd-logo.png" alt="Client Logo 1">
      <img src="assets/cargus-logo.png" alt="Client Logo 2">
      <img src="assets/fan-logo.png" alt="Client Logo 3">
      <img src="assets/sameday-logo.png" alt="Client Logo 4">
      <img src="assets/gls-logo.png" alt="Client Logo 4">
    </div>
  </section>

</div>
