/* ABOUT US SECTION */
.landing-page {
  font-family: 'Montserrat', sans-serif;
}

.full-screen-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}


.about-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  background-color: #ffffff;
}

.align-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1000px;
}

.about-us-content {
  text-align: left;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.about-us-content h2 {
  color: #e30613;
  font-size: 24px;
  margin-bottom: 10px;
}

.about-us-content h3 {
  color: #2b2b2b;
  font-size: 32px;
  margin-bottom: 20px;
}

.about-us-content p {
  color: #646464;
  font-size: 16px;
  line-height: 1.5;
}

.about-us-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-logo img {
  width: 300px;
}

.about-us-features {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  margin-top: 30px;
}

.feature-item {
  background-color: #e30613;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  flex: 1;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.feature-item h4 {
  font-size: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}

.feature-item p {
  font-size: 18px;
  margin: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.feature-item p::before {
  content: "";
  width: 1px;
  height: 24px;
  margin-right: 10px;
  border-left: 1px dotted #ffffff;
}

/* HOW IT WORKS SECTION */
.how-it-works-section {
  background-color: #1F2A44;
  color: #FFFFFF;
  padding: 50px 20px;
  text-align: center;
}

.how-it-works-header {
  max-width: 1400px;
  margin: 0 auto 50px auto;
  text-align: left;
}

.how-it-works-header h2 {
  color: #E30613;
  font-size: 24px;
  margin-bottom: 10px;
}

.subtitle {
  color: #FFFFFF;
  font-size: 40px !important;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.how-it-works-header p {
  color: #D4D4D4;
  font-size: 18px;
  line-height: 1.5;
}

.how-it-works-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1250px;
  margin: 0 auto;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-image {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  border: 16px solid #FFFFFF; /* Small white border for big images */
}

.step-image-noborder {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
}

.border {
  border: 16px solid #FFFFFF; /* Small white border for big images */
}


.step-details {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 350px;
  width: 100%;
  justify-content: center;
}

.step-details h4 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #1F2A44;
}

.step-details-background {
  background-color: #ffffff;
  pointer-events: none;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80px;
  color: #333;
  border: none;
  border-radius: 20px;
  text-align: center;
  padding-top: 7px;
  margin-bottom: 20px;
  margin-left: 115px;
}

.step-icon {
  margin-bottom: 10px;
}

.step-icon img {
  width: 132px;
  height: auto;
}

.step-title {
  color: #FFFFFF;
  font-size: 25px;
  padding: 10px;
  font-weight: bold;
}

.step-details p {
  color: #D4D4D4;
  font-size: 16px;
  margin: 0;
}

.dashed-line {
  grid-column: span 2;
  border-top: 2px dashed #D4D4D4;
  margin: 20px 0;
}

/* SERVICES SECTION */
#services {
  background-color: #f5f5f5;
  text-align: left;
}

.services-header {
  color: #e30613;
  font-size: 24px;
  margin: 0;
  text-align: left;
}

.services-header h2 {
  color: #1f2a44;
  font-size: 48px;
  margin: 10px 0;
  font-weight: bold;
  text-align: left;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  margin-top: 30px;
}

.service-item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  justify-content: left;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.service-item:hover {
  background-color: var(--ok-dark-color);
  color: #ffffff !important;
}

.service-icon-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.service-item h3 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: bold;
}

.service-item p {
  font-size: 16px;
}

.service-item img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

/* TESTIMONIALS SECTION */
/* TESTIMONIALS SECTION */
.testimonials-section {
  background-color: #1f2a44;
  padding: 50px 20px;
  color: #fff;
  text-align: center;
}

.testimonials-header h2 {
  color: #e30613;
  font-size: 24px;
  margin-bottom: 30px;
}

.testimonials-carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.testimonial-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.testimonial-dot {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.testimonial-dot.active {
  background-color: #e30613;
}


.testimonial-item {
  flex: 0 0 calc(33.33% - 20px);
  background-color: #ffffff;
  color: #2b2b2b;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.testimonial-item.active {
  transform: scale(1.05);
  background-color: var(--ok-primary-color-dark);
  color: #ffffff;
}


.testimonial-rating {
  color: #e30613;
  font-size: 24px;
  margin-bottom: 10px;
}

.testimonial-item p {
  font-size: 16px;
  margin-bottom: 20px;
}

.testimonial-item h4 {
  font-size: 18px;
  font-weight: bold;
}



.clients-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  margin-top: 50px;
  gap: 40px;
  width: 100%;
}


.clients-logos img {
  width: 150px;
  height: auto;
}
