<div class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <img src="assets/logo-footer.png" alt="OKCurier Logo">
      <ul>

        <li>OKAY CURIER TRANSPORT SRL</li>
        <li>RO43600220</li>
        <li>J40/1004/2021</li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>DETALII</h4>
      <ul>
        <li><a href="https://content.app-sources.com/s/651038367707852941/uploads/Images/Termeni_Si_Conditii_Okay_Curier_Transport_SRL-1451696.pdf" target="_blank">Termeni și condiții</a></li>
        <li>Metode de ambalare</li>
        <li><a href="gdpr" target="_blank">GDPR</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>ALTELE</h4>
      <ul>
        <li>Blog</li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>PARTENERI</h4>
      <ul>
        <li><a href="https://www.cargus.ro" target="_blank">Cargus</a></li>
        <li><a href="https://www.dpd.com/ro" target="_blank">DPD</a></li>
        <li><a href="https://www.sameday.ro" target="_blank">Sameday</a></li>
        <li><a href="https://gls-group.eu/RO/ro/home" target="_blank">GLS</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>SUPORT CLIENȚI</h4>
      <p>Telefon: 0730.158.488</p>
      <p>Program:<br>L-V: 9:00 - 18:00</p>
      <p>contact&#64;okcurier.ro</p>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="partners-logos">
      <a href="https://anpc.ro/ce-este-sal/">
        <img src="assets/anpc-logo.png" alt="ANPC">
      </a>
      <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=RO" target="_blank">
        <img src="assets/sol.png" alt="SOL">
      </a>
      <a href="https://www.osim.ro/images/Publicatii/Marci/2022/bopi30062022_.pdf" target="_blank">
        <img src="assets/osim-logo.png" alt="OSIM">
      </a>
      <a href="https://www.ancom.ro/formdata-7139-141-1924">
        <img src="assets/ancom.png" alt="ANCOM">
      </a>
      <a href="https://www.topfirme.com/afacere/okay-curier-transport-s-r-l-/6l147ullq4/" target="_blank">
        <img src="assets/topfirme-logo.png" alt="TopFirme">
      </a>
    </div>
    <p>© 2025 OKCurier. Toate drepturile rezervate.</p>
  </div>
</div>
