<div class="package-overview">
  <div class="overview-header">
    <div class="count">
      <p>Total Colete</p>
      <h3>{{ totalPackages }}</h3>
    </div>
    <div class="weight">
      <p>Greutate Totală</p>
      <h3>{{ totalWeight }} kg</h3>
    </div>
  </div>
  <div class="info">
    <p>Se pot trimite maxim 10 colete per comandă.</p>
  </div>
  <div class="info">
    <p>Fiecare colet nu trebuie să depășească 31 kg sau dimensiunile totale (L + l + h) să nu fie mai mari de 180 cm.</p>
  </div>
  <div class="info">
    <p>Puteți trimite un singur plic de 250g cu documente per comandă.</p>
  </div>
</div>
