<div class="container">
  <div class="form-wrapper flex-container">
    <div class="form-column" id="expeditorFormColumn">
      <app-order-form #expeditorForm title="Adresa noua" (formValidityChange)="onExpeditorFormValidityChange($event)"></app-order-form>
      <button pButton type="button" (click)="onSubmit()" [disabled]="!isFormValid()" class="arrow-button">
        <img src="assets/logo.png" alt="OK Curier Logo" class="button-logo">
        <span class="button-text">Salveaza</span>
      </button>

    </div>
    <div class="table-column">
      <app-table></app-table>
    </div>
  </div>
</div>
