<div class="header">
  <div class="brand">
    <img src="../../../../assets/logo.png" alt="Ok Curier Logo">
  </div>
  <div class="nav">
    <a routerLink="/prices">Preturi</a>
    <a routerLink="#">Invitatii</a>
    <a routerLink="#">Comenzi</a>
  </div>
  <div class="auth-buttons">
    <ng-container *ngIf="auth.isAuthenticated$ | async; else login">
      <button pButton type="button" label="Logout" class="p-button-danger" (click)="logout()"></button>
    </ng-container>
    <ng-template #login>
      <button pButton type="button" label="Login" class="p-button-success" (click)="loginWithRedirect()"></button>
    </ng-template>
  </div>
</div>
