<div class="faq-page container">
  <h1>Întrebări frecvente</h1>
  <div class="faq-item" (click)="toggleAnswer($event)">
    <h2>Ce este OK Curier?</h2>
    <p>OK Curier este un furnizor de servicii de curierat de încredere, care asigură livrarea în siguranță și la timp a pachetelor tale.</p>
  </div>
  <div class="faq-item" (click)="toggleAnswer($event)">
    <h2>Cum plasez o comandă?</h2>
    <p>Puteți plasa o comandă navigând la secțiunea 'Trimite' de pe site-ul nostru, completând detaliile necesare și trimițând formularul.</p>
  </div>
  <div class="faq-item" (click)="toggleAnswer($event)">
    <h2>Care sunt opțiunile de livrare?</h2>
    <p>Oferim diverse opțiuni de livrare, inclusiv livrare în aceeași zi, livrare a doua zi și livrare standard, în funcție de nevoile tale.</p>
  </div>
  <div class="faq-item" (click)="toggleAnswer($event)">
    <h2>Cum pot urmări pachetul meu?</h2>
    <p>Puteți urmări pachetul utilizând numărul de urmărire furnizat la momentul comenzii. Introduceți pur și simplu numărul de urmărire pe pagina noastră 'Urmărește comanda'.</p>
  </div>
  <div class="faq-item" (click)="toggleAnswer($event)">
    <h2>Ce ar trebui să fac dacă pachetul meu este pierdut sau deteriorat?</h2>
    <p>Dacă pachetul tău este pierdut sau deteriorat, te rugăm să contactezi imediat serviciul nostru de relații cu clienții cu detaliile comenzii tale pentru asistență.</p>
  </div>
</div>
