<div class="shipping-calculator">
  <div class="top-banner">
    <div class="headline">
      <p>Un curier de încredere pe care te poți baza pentru toate nevoile tale logistice.</p>
      <h1>Experimentează<br> transportul fără griji<br> cu Serviciile Noastre</h1>
    </div>
  </div>
  <div class="calculator-form">
    <div class="form-fields">
      <div class="field">
        <label for="localitate-expeditie">Localitate expeditie</label>
        <input type="text" id="localitate-expeditie"
               (input)="onCityInputChange($event, 'location')"
               placeholder="Ex: Cluj-Napoca"
               [(ngModel)]="selectedLocation">
        <!-- Suggestions Dropdown -->
        <ul class="suggestions-list" *ngIf="(citySuggestions | async) as suggestions">
          <ng-container *ngIf="activeField === 'location'">
            <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
              {{ suggestion.label }}
            </li>
          </ng-container>
        </ul>
      </div>

      <div class="field">
        <label for="localitate-destinatie">Localitate destinatie</label>
        <input type="text" id="localitate-destinatie"
               (input)="onCityInputChange($event, 'destination')"
               placeholder="Ex: Bucuresti"
               [(ngModel)]="selectedDestination">
        <!-- Suggestions Dropdown -->
        <ul class="suggestions-list" *ngIf="(citySuggestions | async) as suggestions">
          <ng-container *ngIf="activeField === 'destination'">
            <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
              {{ suggestion.label }}
            </li>
          </ng-container>
        </ul>
      </div>

      <!-- Additional form fields... -->

      <div class="field-2">
        <label for="tip-pachet">Tipul pachetului</label>
        <select id="tip-pachet" [(ngModel)]="selectedPackageType">
          <option value="plic">Plic</option>
          <option value="colet">Colet</option>
        </select>
      </div>
      <div class="field-2">
        <label for="greutate">Greutate (kg)</label>
        <input type="text" id="greutate" placeholder="Greutate (kg)" [(ngModel)]="weight">
      </div>
      <div class="field-2">
        <label for="lungime">Lungime (cm)</label>
        <input type="text" id="lungime" placeholder="Lungime (cm)" [(ngModel)]="length">
      </div>
      <div class="field-2">
        <label for="latime">Latime (cm)</label>
        <input type="text" id="latime" placeholder="Latime (cm)" [(ngModel)]="width">
      </div>
      <div class="field-2">
        <label for="inaltime">Inaltime (cm)</label>
        <input type="text" id="inaltime" placeholder="Inaltime (cm)" [(ngModel)]="height">
      </div>
    </div>
    <button class="calculate-btn" (click)="calculateTariff()">CALCULEAZA</button>
  </div>
</div>
