#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 80%;
}

.shipping-calculator {
  text-align: center;
  min-height: 100vh;
  font-family: Poppins, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  color: whitesmoke;
  margin-top: 10px;
}

.top-banner {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  text-align: left;
}

.headline h1 {
  font-size: 64px;
  margin: 10px 0;
  text-transform: uppercase;
}

.headline p {
  font-size: 18px;
  text-transform: uppercase;
}

.calculator-form {
  background-color: var(--ok-dark-color);
  padding: 20px;
  box-shadow: 0 0 10px var(--ok-primary-color);
  max-width: 1200px;
  width: 100%;
  color: whitesmoke;
  margin: 0 auto;
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.field {
  flex: 1 1 calc(50% - 20px);
  margin: 10px;
  text-align: left;
  border-radius: var(--radius);
}

.field-2 {
  flex: 1 1 calc(20% - 20px);
  margin: 10px;
  text-align: left;
  border-radius: var(--radius);
}

.field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.field input,
.field select,
.field-2 input,
.field-2 select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--ok-secondary-color);
  border-radius: var(--radius);
  background-color: whitesmoke; /* updated background color */
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center; /* updated text alignment */
}

.field input::placeholder,
.field-2 input::placeholder {
  color: var(--ok-grey-color); /* updated placeholder color */
}

.calculate-btn {
  background-color: var(--ok-primary-color);
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  width: 200px;
  font-weight: bold;
  height: 50px;
}

.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: black;
  position: absolute;
  width: 40%;
  background: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}
