<section class="hero">
  <video autoplay muted loop id="background-video">
    <source src="assets/video.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="content">
    <div class="services">
      <h5>Un curier de încredere pe care te poți baza pentru toate nevoile tale logistice.</h5>
      <h1>Experimentează transportul fără griji cu serviciile noastre</h1>
    </div>
    <div class="calculator">
      <form class="shipping-form">
        <div class="form-row row-1">
          <div class="form-group">
            <label for="from">Localitate expeditie</label>
            <input id="from" type="text" pInputText (input)="onCityInputChange($event, 'location')" [(ngModel)]="selectedLocation">
            <ul *ngIf="activeField === 'location' && (citySuggestions | async)?.length" class="suggestions-list">
              <li *ngFor="let suggestion of citySuggestions | async" (click)="selectSuggestion(suggestion)">
                {{ suggestion.label }}
              </li>
            </ul>
          </div>
          <div class="form-group">
            <label for="to">Localitate destinatie</label>
            <input id="to" type="text" pInputText (input)="onCityInputChange($event, 'destination')" [(ngModel)]="selectedDestination">
            <ul *ngIf="activeField === 'destination' && (citySuggestions | async)?.length" class="suggestions-list">
              <li *ngFor="let suggestion of citySuggestions | async" (click)="selectSuggestion(suggestion)">
                {{ suggestion.label }}
              </li>
            </ul>
          </div>
        </div>
        <div class="form-row row-2">
          <div class="form-group dropdown">
            <label for="type">Tip pachet</label>
            <p-dropdown id="type" [options]="getPackageTypeOptions()" [(ngModel)]="selectedPackageType" placeholder="Plic" (onChange)="onPackageTypeChange($event)"></p-dropdown>
          </div>
          <div class="form-group">
            <label for="weight">Greutate (kg)</label>
            <input id="weight" type="text" pInputText [(ngModel)]="weight" placeholder="0" />
          </div>
          <div class="form-group">
            <label for="length">Lungime (cm)</label>
            <input id="length" type="text" pInputText [(ngModel)]="length" placeholder="0" />
          </div>
          <div class="form-group">
            <label for="width">Latime (cm)</label>
            <input id="width" type="text" pInputText [(ngModel)]="width" placeholder="0" />
          </div>
          <div class="form-group">
            <label for="height">Inaltime (cm)</label>
            <input id="height" type="text" pInputText [(ngModel)]="height" placeholder="0" />
          </div>
        </div>
        <button type="submit" class="calculate-button">Calculează</button>
      </form>
    </div>
  </div>
</section>
