<div class="shipping-calculator">
  <div class="top-banner">
    <div class="headline">
      <p>Un curier de încredere pe care te poți baza pentru toate nevoile tale logistice.</p>
      <h1>Experimentează<br> transportul fără griji<br> cu Serviciile Noastre</h1>
    </div>
  </div>
  <div class="calculator-form">
    <div class="form-fields">
      <div class="field">

        <label>Localitate expeditie</label>
        <select>
          <option value="" disabled selected>Judet</option>
          <option *ngFor="let county of counties" [value]="county.stateName">{{ county.stateName }}</option>
        </select>
      </div>
      <div class="field">
        <label>Judet destinatie</label>
        <select>
          <option value="" disabled selected>Judet</option>
          <option *ngFor="let county of counties" [value]="county.stateName">{{ county.stateName }}</option>
        </select>
      </div>

      <div class="field-2">
        <label for="tip-pachet">Tipul pachetului</label>
        <select id="tip-pachet" [(ngModel)]="selectedPackageType">
          <option value="plic">Plic</option>
          <option value="colet">Colet</option>
        </select>
      </div>
      <div class="field-2">
        <label for="greutate">Greutate (kg)</label>
        <input type="text" id="greutate" placeholder="Greutate (kg)" [(ngModel)]="weight">
      </div>
      <div class="field-2">
        <label for="lungime">Lungime (cm)</label>
        <input type="text" id="lungime" placeholder="Lungime (cm)" [(ngModel)]="length">
      </div>
      <div class="field-2">
        <label for="latime">Latime (cm)</label>
        <input type="text" id="latime" placeholder="Latime (cm)" [(ngModel)]="width">
      </div>
      <div class="field-2">
        <label for="inaltime">Inaltime (cm)</label>
        <input type="text" id="inaltime" placeholder="Inaltime (cm)" [(ngModel)]="height">
      </div>
    </div>
    <button class="calculate-btn" (click)="calculateTariff()">CALCULEAZA</button>
  </div>
</div>
