/* You can add global styles to this file, and also import other style files */
:root {
  --ok-primary-color: rgb(239 68 68);
  --ok-primary-color-dark: rgb(234, 40, 40);
  --ok-primary-color-light: #f64f4f;
  --ok-secondary-color: #9b9797;
  --ok-secondary-color-light: #c9c1c1;
  --ok-accent-color: #20be44;
  --ok-accent-color-light: #80d092;
  --font-family: 'Poppins', sans-serif;
  --ok-grey-colo-lightr: rgb(196, 196, 208);
  --ok-grey-color: rgb(161 161 170);
  --ok-dark-color: rgb(63 63 70);
  --spacing: 1rem;
  --header-height: 10rem;
  --radius: 10px
}

body {
  font-family: var(--font-family), serif;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  z-index: 1;
}

.invalid input {
  border: 1px solid red;
}

